* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: hsl(228, 19%, 10%);
    color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 10%;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: hsl(0, 0%, 67%);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
nav .fa-solid {
    display: none;
}
#header {
    color: white;
    min-height: 100vh;
}
.container {
    padding: 10px 20%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-row {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-col1 {
    flex-basis: 60%;
    margin-right: 75px;
}
.header-col1 h1 {
    color: hsl(180, 100%, 100%);
    display: inline;
    border-right: 5px solid grey;
    white-space: nowrap;
    animation: blink-caret 0.75s step-end infinite;
    font-size: 96px;
    font-weight: 600;
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: grey;
    }
}
.header-col1 p {
    font-size: 24px;
    padding: 0 0 6px 0;
    color: hsl(0, 0%, 80%);
}
.header-col1 p i {
    margin-right: 5px;
    color: hsl(0, 75%, 50%);
}

#name {
    background: linear-gradient(
        75deg,
        rgba(124, 186, 255, 1) 0%,
        rgba(255, 0, 226, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.socials {
    padding: 20px 2px 20px 2px;
}
.socials a {
    margin-right: 35px;
    color: hsl(0, 0%, 80%);
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
    text-decoration: none;
}
.socials a {
    font-size: 40px;
}
.socials a:hover {
    color: #449bff;
    transform: translateY(-3.5px);
}
.tech-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tech-stack h2 {
    font-size: 40px;
    font-weight: 500;
    margin-right: 20px;
    padding-right: 25px;
    border-right: 4px solid white;
}
.tech-stack img {
    width: 58px;
    aspect-ratio: 1/1;
    margin-right: 20px;
    transition: transform 0.3s;
}
.tech-stack img:hover {
    transform: translateY(-3.5px);
    cursor: pointer;
}

.header-col2 {
    flex-basis: 20%;
    display: flex;
    align-content: center;
}
.header-col2 img {
    width: 375px;
    height: 375px;
    aspect-ratio: 1/1;
    border: 5px solid white;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 6s cubic-bezier(0.33, 0, 0.66, 1) infinite;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

#about {
    padding: 0 0 200px 0;
}

.about-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0 0 0;
}
.about-col1 {
    text-align: center;
    flex-basis: 40%;
}
.about-col1 img {
    width: 100%;
    border-radius: 50px;
}

.about-col2 {
    flex-basis: 50%;
}
.about-col2 h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    color: #449bff;
}

.about-col2 p {
    text-align: justify;
    font-size: 24px;
}

.description {
    padding-bottom: 50px;
}
.header-text {
    text-align: center;
    font-size: 28px;
    color: #449bff;
    margin-bottom: 50px;
}
.header-text p {
    color: white;
}
.portfolio-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 200px;
}
.portfolio-row2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-bottom: 200px;
}
.row1-col1 {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row1-col1 img {
    width: 100%;
    border-radius: 50px;
}
.row1-col2 {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row1-col2 h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}
.row1-col2 p {
    text-align: justify;
    font-size: 24px;
    color: hsl(0, 0%, 80%);
}
.portfoliolinks {
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfoliolinks a {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 36px;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: #449bff;
    transition: background-color 0.3s, transform 0.3s;
}
.portfoliolinks a:hover {
    transform: translateY(-3px);
    background-color: white;
}
#contact {
    color: #449bff;
    padding: 0 0 50px 0;
}
.contact-header {
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
}
.contact-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-col1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.contact-col1 p {
    color: white;
    font-size: 24px;
    margin: 15px 0 0 0;
}
.contact-col1 p i {
    color: #449bff;
    font-size: 30px;
    margin-right: 10px;
}
.contact-col2 a {
    padding: 0 10px;
}

.contact-col2 a i {
    font-size: 40px;
    color: white;
    transition: color 0.3s, transform 0.3s;
}
.contact-col2 a i:hover {
    color: #449bff;
    transform: translateY(-3.5px);
}
.resume {
    text-align: center;
    display: inline;
    width: fit-content;
    margin: 30px 0 0 0;
    border: 2px solid #449bff;
    background: hsl(228, 19%, 10%);
    border-radius: 6px;
    padding: 14px 40%;
    text-decoration: none;
    color: white;
    transition: background 0.25s, color 0.25s;
    cursor: pointer;
}
.resume:hover {
    background-color: #449bff;
    color: black;
}
#copyright {
    padding: 10px 0;
    background-color: hsl(0, 0%, 5%);
}
#copyright p {
    text-align: center;
    margin-bottom: 3px;
}

.in-view {
    animation: fade 1.5s 0.05s both;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px 35px;
    }

    nav .fa-solid {
        display: block;
        font-size: 27px;
    }
    nav {
        padding-top: 15px;
    }
    nav ul {
        background-color: #449bff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
        color: black;
    }
    nav ul li a {
        color: black;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .wrapper {
        justify-content: center;
        align-items: center;
    }
    .header-row {
        margin-top: 25px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .header-col1 {
        margin: 0;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-col1 h1 {
        display: block;
        font-size: 52px;
    }
    .header-col1 p {
        font-size: 20px;
    }
    .socials a {
        margin: 0;
        padding: 0 20px;
        color: white;
    }
    .tech-stack {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .tech-stack h2 {
        font-size: 32px;
        border-right: 0;
        margin: 0 0 15px 0;
        padding: 0;
    }
    .tech-stack img {
        margin: 0 17px;
    }
    .header-col2 {
        flex-basis: 100%;
        margin: 30px;
    }
    .header-col2 img {
        width: 300px;
        height: 300px;
    }
    #about {
        padding: 0 0 30px 0;
    }
    .about-row {
        flex-direction: column;
    }
    .about-col1 {
        flex-basis: 100%;
        margin: 0 0 15px;
    }
    .about-col1 img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: 100% 0%;
    }
    .about-col2 {
        flex-basis: 100%;
    }
    .about-col2 p {
        font-size: 18px;
    }
    .description {
        padding-bottom: 10px;
    }
    .header-text p {
        font-size: 18px;
    }
    .portfolio-row1,
    .portfolio-row2 {
        flex-direction: column;
        padding-bottom: 30px;
    }
    .row1-col1 img {
        margin-bottom: 25px;
    }
    .row1-col2 p {
        font-size: 18px;
    }
    .portfoliolinks {
        padding: 25px 35px;
    }
    .portfoliolinks a {
        border: 3px solid #449bff;
        font-size: 30px;
        margin: 0 7px;
    }
}
